<html class="html">
 <body class="museBGSize">

      <form name="contactform" method="post" action="email.php">
 
<table width="550px">
 
<tr>
 
 <td valign="top">
 
  <label for="name">Name *</label>
 
 </td>
 
 <td valign="top">
 
       <div style="border:1px solid"><input  type="text" name="name" maxlength="50" size="30"></div> <br> 
 
 </td>
 
</tr>

<tr>
 
 <td valign="top">
 
  <label for="email">Email Address *</label>
 
 </td>
 
 <td valign="top">
 
       <div style="border:1px solid">  <input  type="text" name="email" maxlength="80" size="30"> <br> 
 
<tr>
 
 <td valign="top">
 
   <br> <label for="telephone">Telephone Number</label>
 
 </td>
 
 <td valign="top">
 
        <br> <div style="border:1px solid">  <input  type="text" name="telephone" maxlength="30" size="30"> <br> 
 
 <tr>
 <td valign="top">
    <br> <label for="DOT">Is your DOT Physical Card (aka Medical Card) attached to your current CDL at the BMV? *</label>
  </td>
  <td valign="top">
        <br> <div style="border:1px solid">   <textarea  name="DOT" maxlength="1000" cols="1" rows="1"></textarea><br> 

 <tr>
  <td valign="top">
    <br> <label for="Dos">Do you have Doubles Endorsement on your CDL? *</label>
 </td>
  <td valign="top">
        <br> <div style="border:1px solid">   <textarea  name="Dos" maxlength="1000" cols="25" rows="1"></textarea>

 <tr>
  <td valign="top">
 <br>    <label for="Exp">Do you have either 1 year of driving experience in the past 3 years? or 5 years driving experience in the past 10 years? *</label>
  </td>
  <td valign="top">
 <br>        <div style="border:1px solid">   <textarea  name="Exp" maxlength="1000" cols="25" rows="1"></textarea>

 <tr>
  <td valign="top">
 <br>    <label for="Rol">Have you ever been involved in a Rollover Accident? *</label>
  </td>
  <td valign="top">
        <br> <div style="border:1px solid">   <textarea  name="Rol" maxlength="1000" cols="25" rows="1"></textarea>

 <tr>
  <td valign="top">
 <br>    <label for="DUI">Have you had a DUI (or DWI) in the past 5 years? *</label>
  </td>
  <td valign="top">
        <br> <div style="border:1px solid">   <textarea  name="DUI" maxlength="1000" cols="25" rows="1"></textarea>
 
 <tr>
  <td valign="top">
 <br>    <label for="Fel">Have you had a Felony Conviction in the past 10 years? *</label>
  </td>
  <td valign="top">
 <br>        <div style="border:1px solid">   <textarea  name="Fel" maxlength="1000" cols="25" rows="1"></textarea>

 <tr>
  <td valign="top">
 <br>    <label for="Mov">Have you received any moving violations in the past 3 years? *</label>
  </td> 
 <td valign="top"> 
 <br>        <div style="border:1px solid">  <textarea  name="Mov" maxlength="1000" cols="25" rows="1"></textarea> 

<tr>
  <td valign="top">
 <br>    <label for="Flt">Have you had any at-fault accidents in the past 3 years? *</label>
  </td>
  <td valign="top">
 <br>        <div style="border:1px solid">  <textarea  name="Flt" maxlength="1000" cols="25" rows="1"></textarea> 
 <tr>
 
 <td colspan="2" style="text-align:center">
 
  <br>  <input type="submit" value="Submit Application">
 
 </td>
 
</tr>