<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container">
            <img src="{{site.url}}/{{ site.baseurl }}assets/img/posts/turnerLogo.png">
        </div>
      </a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          <a class="header__link" href="{{ 'ChadTurner/' | relative_url }}" itemprop="url"><span itemprop="name">Home</span></a>
          <a class="header__link" href="{{ 'ChadTurner/about' | relative_url }}" itemprop="url"><span itemprop="name">About</span></a>
          <a class="header__link" href="{{ 'ChadTurner/contact' | relative_url }}" itemprop="url"><span itemprop="name">Contact</span></a>
          <a class="header__link" href="{{ 'ChadTurner/careers' | relative_url }}" itemprop="url"><span itemprop="name">Careers </span></a>
          <a class="header__link" href="{{ 'ChadTurner/Drive-For-Us' | relative_url }}" itemprop="url"><span itemprop="name">Drive For Us </span></a>
        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
